.container
{
    display: flex;
  flex-direction: column;
  align-items: center;
    margin:50px 0;
}
.card
{
    margin:0 2% !important;
}
.infected
{
    border-bottom: 10px solid rgba(255,127,80,0.5);

}
.recovery
{
    border-bottom: 10px solid rgba(0,255,0,0.5);
    
}
.death
{
    border-bottom: 10px solid rgba(255,0,0,0.5);
    
}